* {
    margin: 0; 
    padding: 0;
}
.navbar{
    background-color: rgb(68, 63, 63) !important;
    
}

@media (min-width:480px){
    .contenedorPadre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  90px 250px auto 60px ;
        grid-template-areas:'menu   menu  '
                            'header header '
                        'set_main  set_main  '
                            'footer footer ';
                            
}

/* para recetear el color de los links del navegardor  */
a{
    text-decoration: none;
    color: white;
}

.header {
    grid-area: header;
    background-color: rgb(169, 77, 12);
    background-image:url(../Assets_img/logo-pagina.png) ;
    /* background-image:url(../Assets_img/casapiscina.jpg); */
    /* background-repeat:repeat; */
    /* background-attachment:scroll; */
    background-size: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
/* heigt:400px;
background-size: cover; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
} 
.titulos {
    font-size:16px;
    padding-top: 5px;
    color:white;
    font-style: oblique;
    text-align: center;
    text-decoration:underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h2{text-align: center;
}
.texto_header {
    color: white;
    /* overflow:scroll; */
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video_header{
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    align-self:center;
    border-radius: 15px;

}


.logo {
    width: 100px;
    padding: 5px;
}
.img_logo{width: 110px;

}
.menu {
    grid-area: menu;
    box-sizing: border-box;
    background-color:rgb(68, 63, 63);
    width:99.6%;
    height: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
    position: sticky;
    top:0px;
    /* para dejarla fija a la barra :position: fixed; */
    /* z index para poner el orden de superposicion de las imagenes en profundidad */
    z-index: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style:none;

    }
ul li{
        display: inline-block;
        font-size: 12px;
        padding: 3px;
        
    }
    ul  ul {display: none;
            position: absolute;
    }
    ul ul li {
        display: block;
    }
    ul li:hover ul {
        display: block;
    }



.set_main {
    grid-area: set_main;
    display:inline-block;
    background-image:url(../Assets_img/casapiscina.jpg);
    border-radius: 20px;
    margin: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    
}


.main{
    width: 300px;
    height: 320px;
    background-color:rgb(68, 63, 63);
    border-radius: 7px;
    box-shadow: 5px 5px 15px 5px black;
    padding: 20px;
    margin: 10px;
}


.main_nombres {
    text-align: center;
    font-size: 20px;
    color: black;
}
.main_texto{
    font-size: 12px;
    color: white;
}
.main_foto{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border:solid 1px black;
}



.texto{background-color: rgb(160, 71, 8);
    border-radius: 7px;
    grid-area: texto;
    color:black;
    font-family: roboto;
    font-weight:strong bold;
    font-style:italic;
    font-size:18px;
    text-align: center;
    margin-top: 20px;
    /* overflow: scroll; */
}


.footer {
    grid-area: footer;
    background-color:rgb(68, 63, 63);
    width:98,5%;
    height: 110px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px black;
}
.audio_footer{
    align-self: auto;
    padding-left: 95px;        
}
.copiright {
    text-align:right;
    
}
.redes {
    padding: 0px;
}
}

@media (min-width:768px){
    * {
        margin: 0; 
        padding: 0;
    }
    
    .contenedorPadre{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows:  90px 270px auto 50px ;
        grid-template-areas:'menu   menu   menu   menu'
                            'header header header header'
                    'set_main  set_main  set_main  set_main'
                            'footer footer footer footer';
                            
        /* column-gap: 10px;
        row-gap: 10px; */
        /* gap: 10px; */
        /*alinia los items desde el Padre
        justify-items: stretch;
        align-items: center; */
    }
    
    
    
    /* para recetear el color de los links del navegardor  */
    a{
        text-decoration: none;
        color: white;
    }
    
    .header {
        grid-area: header;
        background-color: rgb(169, 77, 12);
        background-image:url(../Assets_img/logo-pagina.png) ;
        /* background-image:url(../Assets_img/casapiscina.jpg); */
        /* background-repeat:repeat; */
        /* background-attachment:scroll; */
        background-size: cover;
        border-radius: 10px;
    box-shadow: 3px 3px 5px 3px black;
    /* heigt:400px;
    background-size: cover; */
        /* display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; */
    } 
    .titulos {
        font-size:18px;
        padding-top: 18px;
        color:white;
        font-style: oblique;
        text-align: center;
        text-decoration:underline;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    h2{text-align: center;
    }
    .texto_header {
        color: white;
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .video_header{
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        align-self:center;
        border-radius: 15px;
    
    }
    
    
    .logo {
        width: 180px;
        padding: 5px;
    }
    .img_logo{width: 180px;
    
    }
    .menu {
        grid-area: menu;
        box-sizing: border-box;
        background-color:rgb(68, 63, 63);
        width:99.6%;
        height: 90px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px 3px black;
        position: sticky;
        top:0px;
        /* para dejarla fija a la barra :position: fixed; */
        /* z index para poner el orden de superposicion de las imagenes en profundidad */
        z-index: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ul {
        list-style:none;
    
        }
    ul li{
            display: inline-block;
            font-size: 16px;
            padding: 10px;
            
        }
        ul  ul {display: none;
                position: absolute;
        }
        ul ul li {
            display: block;
        }
        ul li:hover ul {
            display: block;
        }
    
    
    
    .set_main {
        grid-area: set_main;
        display:inline-block;
        background-image:url(../Assets_img/casapiscina.jpg);
        height: 900px;
        border-radius: 20px;
        margin: 15px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        
    }
    
    
    .main{
        width: 300px;
        height: 320px;
        background-color:rgb(68, 63, 63);
        border-radius: 7px;
        box-shadow: 5px 5px 15px 5px black;
        padding: 10px;
        margin: 15px;
    }
    
    
    .main_nombres {
        text-align: center;
        font-size: 40px;
        color: black;
    }
    .main_texto{
        font-size: 12px;
        color: black;
        padding-top: 5px;
    }
    .main_foto{
        width: 300px;
        height: 230px;
        border-radius: 10px;
        border:solid 1px black;
    }
    
    
    
    .texto{background-color: rgb(160, 71, 8);
        border-radius: 7px;
        grid-area: texto;
        color:black;
        font-family: roboto;
        font-weight:strong bold;
        font-style:italic;
        font-size:18px;
        text-align: center;
        margin-top: 20px;
        /* overflow: scroll; */
    }
    
    
    .footer {
        grid-area: footer;
        background-color:rgb(68, 63, 63);
        width:98,5%;
        height: 110px;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 5px black;
    }
    .audio_footer{
        align-self: auto;
        padding-left: 240px;        
    }
    .copiright {
        text-align:right;
        
        
    }
    .redes {
        padding: 0px;
    }
    

}






@media (min-width:1280px){
.contenedorPadre{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  92px auto auto 90px ;
    grid-template-areas:'menu   menu   menu   menu'
                        'header header header header'
                        'set_main  set_main  set_main  set_main'
                        'footer footer footer footer';
                        
    /* column-gap: 10px;
    row-gap: 10px; */
    /* gap: 10px; */
    /*alinia los items desde el Padre
    justify-items: stretch;
    align-items: center; */
}



/* para recetear el color de los links del navegardor  */
a{
    text-decoration: none;
    color: white;
}

.header {
    grid-area: header;
    background-color: rgb(169, 77, 12);
    background-image:url(../Assets_img/logo-pagina.png) ;
    /* background-image:url(../Assets_img/casapiscina.jpg); */
    /* background-repeat:repeat; */
    /* background-attachment:scroll; */
    background-size: cover;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 3px black;
/* heigt:400px;
background-size: cover; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
} 
.titulos {
    font-size:25px;
    padding-top: 10px;
    color:white;
    font-style: oblique;
    text-align: center;
    text-decoration:underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h2{text-align: center;
}
.texto_header {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video_header{
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    align-self:center;
    border-radius: 15px;

}


.logo {
    width: 180px;
    padding: 5px;
}
.img_logo{width: 180px;

}
.menu {
    grid-area: menu;
    box-sizing: border-box;
    background-color:rgb(68, 63, 63);
    width:99.6%;
    height: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
    position: sticky;
    top:0px;
    /* para dejarla fija a la barra :position: fixed; */
    /* z index para poner el orden de superposicion de las imagenes en profundidad */
    z-index: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style:none;

    }
ul li{
        display: inline-block;
        font-size: 14px;
        padding: 10px;
        
    }
    ul  ul {display: none;
            position: absolute;
    }
    ul ul li {
        display: block;
    }
    ul li:hover ul {
        display: block;
    }



.set_main {
    grid-area: set_main;
    display:inline-block;
    background-image:url(../Assets_img/casapiscina.jpg);
    border-radius: 20px;
    margin: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    
}


.main{
    width: 320px;
    height: 350px;
    background-color:rgb(68, 63, 63);
    border-radius: 7px;
    box-shadow: 5px 5px 15px 5px black;
    padding: 30px;
    margin: 20px;
}


.main_nombres {
    text-align: center;
    font-size: 35px;
    color: black;
    padding-bottom: 60px;
}
.main_texto{
    font-size: 20px;
    color: white;
}
.main_foto{
    width: 320px;
    height: 280px;
    border-radius: 10px;
    border:solid 1px black;
}



.texto{background-color: rgb(160, 71, 8);
    border-radius: 7px;
    grid-area: texto;
    color:black;
    font-family: roboto;
    font-weight:strong bold;
    font-style:italic;
    font-size:18px;
    text-align: center;
    margin-top: 20px;
    /* overflow: scroll; */
}


.footer {
    grid-area: footer;
    background-color:rgb(68, 63, 63);
    width:98,5%;
    height: 110px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px black;
}
.audio_footer {
    padding-left: 500px;

}
.copiright {
    text-align:right;
    padding-right: 40px;
}
.redes {
    padding: 10px;
}
}
