@import "_variables";
@import "_nav";
@import "_header";
@import "_button";
@import "_mixins";

* {
    margin: 0; 
    padding: 0;
}
.lead {
    color: white;
    font-size: 15px;
    .lead-medium {  
        color: white;
        font-size: 20px;  
}}

a{
    text-decoration: none;
}


.footer {
    grid-area: footer;
    background-color:rgb(68, 63, 63);
    width:98,5%;
    height: 110px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px black;
    align-items: flex-start;
    .copiright {
        text-align:right;
        padding-right: 40px;
        .redes {
            padding: 10px;
            
}}}
/* .audio_footer {
    padding-left: 500px;

} */

// .footer {
//     width: 100%;
//     height: 25rem;
//     box-shadow: 0 0 1.8px rgba(0,0,0,.105),0 0 4px rgba(0,0,0,.155),0 0 6.7px rgba(0,0,0,.191),0 0 10.2px rgba(0,0,0,.222),0 0 14.7px rgba(0,0,0,.25),0 0 20.7px rgba(0,0,0,.278),0 0 29.4px rgba(0,0,0,.309),0 0 42.7px rgba(0,0,0,.345),0 0 65.8px rgba(0,0,0,.395),0 0 117px rgba(0,0,0,.5);
//     background-color: #252525;
//     margin-top: -10rem;
//     .footer p {
//         font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
//         text-align: center;
//         .footer h2 {
//             color: #fff;
//             letter-spacing: 5px;
//             padding-top: 4rem;
//             .footer hr {
//                 margin-top: 3rem;
//             }}}}
.footer__sociales {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    .icono {
        font-size: 1.7rem;
        color: #fff;
        cursor: pointer;
}}


.copy {
    width: 100%;
    height: 3rem;
    color: #000;
    text-align: center;
    background-color: #37aa9c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 900;
}
