
* {margin: 0; padding: 0;
}

.portada_fondo {background-image:url(./Assets_img/casapiscina.jpg);
background-repeat:repeat;
background-attachment:scroll;
/* background-size: cover; */
} 

#nav_bar {background-color:rgb(68, 63, 63);
    width:98,5%;
    height: 70px;
    
    border:groove 10px grey;
    position: sticky;
    top:0px;
    /* para dejarla fija a la barra :position: fixed; */
    /* z index para poner el orden de superposicion de las imagenes en profundidad */
    z-index: 20px;
    display: flex;
    flex-direction:row ;
    justify-content:space-between;
}

ul {
    list-style:none;
    font-size:0 ;
    }
    li{
        display: inline-block;
        width: 10%;
        position: relative;
        font-size: 15px;
        font-family:roboto;
        margin-left: 50px;
        padding-left: 20px;
        margin-top: 10px;
        
        color: black;
    }
    ul  ul {display: none;
            position: absolute;
    }
    ul ul li {
        display: block;
    }
    ul li:hover ul {
        display: block;
    }

.titulos {color:black;
    font-style: oblique;
    text-align: center;
    text-decoration:underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{text-align: center;}

.texto{color:black;
    font-family: roboto;
font-weight:strong bold;
font-style:italic;
font-size:22px;
text-align: center;
margin-top: 20px;
/* overflow: scroll; */
}



.footer {background-color:rgb(68, 63, 63);
width:98,5%;
height: 110px;
border:groove 10px grey;


}
.conjunto_obras {
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.conjunto_obras{display: flex;}
.obras{
    
    width: 200px;
    height: 350px;
    background-color:rgb(68, 63, 63);
    border:groove 10px grey;
    padding: 20px;
    margin: 10px;
    

}
.obras_nombres {
    text-align: center;
    font-size: 15px;
}
.obras_texto{
    font-size: 12px;
}
.obras_foto{width: 200px;
    height: 250px;
    border-radius: 10px;
    border:solid 1px black;
    }